#cart{
    display: inline;
}

#topBar{
    margin-left:70px;
    margin-top: -33px;
    font-size:150%;
    color: rgb(158, 88, 38);
    
}
#Top{
    background-color: orange;
    padding: 20px;

}
#box{
    width:70%;
    margin-top:7%;
    margin-left:auto;
    margin-right:auto;
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
}
.outer{
    border-top: 1px solid gray;
    border-bottom:1px solid gray;
    height: 110px;
}
.photos{
    position: relative;
    height:95px;
    width:95px;
    margin-right:120%;
    
   
   
    
}

.item{
    font-size:24px;
    text-align: left;
    font-weight: bold;
   
    /* border-top: 1px solid gray;
    border-bottom: 1px solid gray; */
    position: relative;
    padding:60px;
    margin-left:5%;
    margin-top: -15%;
        
    
    
    
    
}

.about{
    
    font-weight: normal;
    font-size:14px;
    margin-right: 20%;
    color: white;
    
}

.howMuch{
    font-weight:normal;
    font-size: 24px;
    text-align: right;
    margin-top: -12%;
    margin-left: 50%;
    
}

#subtotal{
    width:65%;
    font-size: 24px;
    font-weight: bold;
    
    
    margin-left: 20%;
}

.chaChing{
    
   
    text-align:right;
    margin-top: -3%;
    margin-bottom: 100px;
}