#cart{
    display: inline;
}

#topBar{
    margin-left:70px;
    margin-top: -33px;
    font-size:150%;
    color: rgb(158, 88, 38);
    
}
#Top{
    background-color: orange;
    padding: 20px;

}
#thumbBrush{
    height:100px;
    width:100px;
}

.item{
    font-weight: bold;
    border: 1px solid black;
}

.about{
    font-weight: normal;
}

.howMuch{
    font-weight:normal;
    font-size: 20px;
    text-align: right;
}

.photos{
    height:100px;
    width:100 px;
}